html(lang="en")
  head
    title Chatter Graph
    link(href="stylesheets/style.css", rel="stylesheet")
    script(src='js/d3.v3.min.js')
    script(src='socket.io/socket.io.js')
    script(src='js/moment.js')
  body
    script(src='js/recorder.js')
    h1.query
    span.tapeStart
    span.tapeRun
    .name
